:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white:#FAF8F7;
    --just-white: #FFFFFF;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans',sans-serif;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 0px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);

}

.header--title-container .header--button{
    position: absolute;
    top: 310px;
    display: block;
    padding: 14px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
    left: calc(50% - 119px);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url(../assets/img/Bitcoin.svg);
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}



.main-currency-table span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-currency-table{
    width: 65%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: left;
}

.currency-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table-container table{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.currency-table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.table__top-left{
    border-radius: 15px 0 0 0;
}

.table__top-right{
    border-radius: 0 15px 0 0;
}

.table__bottom-left{
    border-radius: 0 0 0 15px;
}

.table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table-container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--date{
    width: 200px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--soft-orange);
}

.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 300;
    color: var(--warm-black);
}

.comission--date{
    background-color: var(--soft-blue);
}

.main-comission-table .comission--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
    text-align: left;
}

.main-product-detail{
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--warm-black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 12px;
}
.product-detail--patata-logo{
    position: absolute;
    top: -10px;
    width: 40px;
    height: 25px;
    background-image: url(../assets/icons/batata.svg);
}
.product-detail--title h2{
    padding: 5px;
    font-family: 'DM Sans', sans-serif;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    text-align: center;
    color: var(--just-white);
    margin-bottom: 16px;
}

.product-detail--title p{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #808080;
    margin-bottom: 16px;
}


.prodct-detail--card{
    height: 152px;
    position: relative;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: var(--black);
    margin-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.clock{
    position: absolute;
    top: 12px;
    height: 25px;
    width: 25px;
    background-image: url(../assets/icons/clock.svg);
}

.eye{
    position: absolute;
    top: 12px;
    height: 25px;
    width: 25px;
    background-image: url(../assets/icons/eye.svg);
}

.dollar{
    position: absolute;
    top: 12px;
    height: 25px;
    width: 25px;
    background-image: url(../assets/icons/dollar-sign.svg);
}

.check{
    position: absolute;
    top: 12px;
    height: 25px;
    width: 25px;
    background-image: url(../assets/icons/check-circle.svg);
}

.prodct-detail--card .product--card-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: white;
    margin-bottom: 10px;
}

.prodct-detail--card .product--card-body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
    margin-bottom: 10px;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(../assets/img/bitcoinbaby.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container{
    background-color: rgb(250,248,247);
    padding-top: 60px;
    padding-bottom: 60px;
}

.plans-title h2{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 20px;
}

.plans-title p{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
    margin-bottom: 20px;
}

.plans-container--slider{
    display: flex;
    height: 290px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--slider h3{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: black;
    margin-bottom: 9px;
}

.plans-container--slider sup{
    /* position: absolute;
    left: 55px;
    top: 82px; */
    display: inline-block;
    margin-right: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
}


.plans-container--slider .dollar-s{
    margin-bottom: 9px;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.3rem;
    letter-spacing: -0.08em;
    color: black;
}

.plan-container--card{
    width: auto;
    height: auto;
    margin: 15px 10px;
    position: relative;
    scroll-snap-align: center;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.plan-container--card p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 10px;
}

.plan-container--card button{
    width: 151px;
    height: 48px;
    border: 2px solid #F7931A;
    border-radius: 4px;
    position: relative;
    font-family: 'DM Sans';
    font-size: 1.4rem;
    font-weight: bold; 
    line-height: 2.7rem;
    color: var(--black);
    font-style: normal;
    text-align: center;
}

.plan-container--card span{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url(../assets/icons/orange-right-arrow.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.plan-container--card .recomendado{
    width: 120px;
    height: 35px;
    padding: 8.5px;
    position: absolute;
    top: -15px;
    left: calc(50% - 60px);
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
    border-radius: 10px;
}

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li{
    margin:10px 0;
}

.left a{
    text-decoration: none;
    color: var(--just-white)
}




